<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bw.movie">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoTitle_FullScreen">
        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/AppTheme.NoTitle_FullScreen" />
        <activity
            android:name=".sign.SignActivity"
            android:theme="@style/AppTheme.NoTitle_FullScreen" />
        <activity android:name=".guide.GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".film.activity.FilmDetailsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.activity.HomeActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/DefaultCityPickerTheme" />
        <activity
            android:name=".film.activity.FilmMoreActivity"
            android:theme="@style/DefaultCityPickerTheme" />
        <activity android:name=".cinema.activity.CinemaDetailActivity" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true" />
        <activity android:name=".cinema.activity.SeatActivity" />
        <activity android:name=".purchase.activity.PurchaseActivity" />
        <activity android:name=".purchase.activity.PlayVideoCinemaActivity" />
        <activity android:name=".mine.activity.FeedBackActivity" />
        <activity android:name=".mine.activity.UserInfoActivity" />
        <activity android:name=".mine.activity.AttentActivity" />
        <activity android:name=".mine.activity.RecordActivity" />
        <activity android:name=".mine.activity.UpdatePassWordActivity" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wxb3852e6a6b7d9516" />
            </intent-filter>
        </activity>
        <activity android:name=".mine.activity.PushActivity"></activity>
        <receiver android:name=".receiver.MessageReceiver"
            android:exported="true" >
            <intent-filter>
                <!-- 接收消息透传 -->
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
                <!-- 监听注册、反注册、设置/删除标签、通知被点击等处理结果 -->
                <action android:name="com.tencent.android.tpush.action.FEEDBACK" />
            </intent-filter>
        </receiver>
    </application>

</manifest>